.card {
    height: 97%;
    margin-inline-end: 20px;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(117, 104, 206, 0.641);
}

.card-title {
    margin-bottom: 2px;
    text-align: center;
}

.card-subtitle {
    margin-top: 5px;
    text-align: center;
}


.row.row-cols-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list-group-item {
    flex: 0 0 50%;
    background-color: #676cc2;
    border: none;
    padding: 8px 12px;
    margin-bottom: 5px;
}
.mt-3 {
    text-align: center;
    font-family: 'public pixel';
    letter-spacing: 2px;
    color: #59FF73;
}
