body,
h2,
h3,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
.rotate-animation {
    display: inline-block;
    animation: rotate 2s forwards;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    text-align: center;
}

.main-heading {
    font-size: 3rem;
    font-weight: bold;
}


.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
}
.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color:#eff664;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #3eb04f;
    transition: 0.3s;
    background-color: #59ff73;
}

.original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    gap: 10px;
}
