body {
  margin: 0;
  font-family: "public pixel", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "public pixel", monospace;
}
div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 50px;
}
.main-content {
  margin-bottom: 100px;
}

.form-group {
  color: black;
}
