.navbar-logo {
    width: 40px;
    height: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}


.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color:#eff664;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #3eb04f;
    transition: 0.3s;
    background-color: #59ff73;
}

.original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
}

.dropdown {
    position: relative;
    z-index: 20;
}

.dropdown .dropdown-toggle {
    display: inline-block;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e1d383;
    border-color: #e1d383;
    font-family: "public pixel";
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown .dropdown-toggle:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #59ff73;
}

.dropdown .dropdown-menu {
    position: relative;
    z-index: 20000;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #999999;
    border-radius: 5px;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdown .dropdown-menu .dropdown-item {
    color: #59ff73;
    font-family: "public pixel";
    font-weight: 300;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-logo {
    width: 500px;
    height: 250px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 10px;
}

.navbar-nav li a {
    color: #59ff73;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.55);
}

.navbar .dropdown-menu .dropdown-item {
    color: #59ff73;
    font-family: "public pixel";
    font-weight: 300;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
